services:
  derper:
    image: ghcr.io/haukuen/derper:latest
    container_name: derper
    restart: unless-stopped
    ports:
      - "40007:40007/tcp"
      - "40008:40008/udp"
    volumes:
      - ./derper-certs:/var/lib/derper
      - ./tailscale-state:/var/lib/tailscale-derper-state
    environment:
      - DERP_HOSTNAME=<your_server_public_ip>
      - TS_AUTHKEY=tskey-auth-xxxxx
      # optional  if you want to modify the port
      # - DERP_PORT=40007
      # - STUN_PORT=40008
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun